<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yann.mybatis3.mapper.S0102ColorMapper">
    <resultMap id="includeTypeHandlerMap" type="org.yann.mybatis3.entity.S0102Color">
        <result column="v" property="v"
                typeHandler="org.yann.mybatis3.handler.ColorTypeHandler"></result>
    </resultMap>
    <select id="selectColors" resultMap="includeTypeHandlerMap">
        select * from s0102_color
    </select>
</mapper>